{{extend 'layout.html'}}

{{if request.args(0)=='profile':}}
<!-- BootUp Profile customisation -->

<div class="row">
    <h2>Bootables Booted</h2>
        <div class="col-md-12">
        {{for project in projects:}}
            {{include "subview/project_display.html"}}
            <!-- TODO rewards -->
        {{pass}}
    </div>
</div>
<hr>
<div class="row">
    <h2>User Data</h2>
    <!-- Address -->
    <div class="col-md-6">
        <h3>Addresses</h3>
        {{for address in addresses:}}
            <div class="panel panel-default">
            <div class="panel-body">
                <dl class="address dl-horizontal">
                    <dt>Street</dt>
                    <dd>{{=address.street}}</dd>
                    <dt>City</dt>
                    <dd>{{=address.city}}</dd>
                    <dt>Post Code</dt>
                    <dd>{{=address.post1}}</dd>
                    <dd>{{=address.post2}}</dd>
                    <dt>Country</dt>
                    <dd>{{=address.country}}</dd>
                </dl>
            </div>
            </div>
        {{pass}}
        <h3>Add Address</h3>
        {{=addressForm}}
    </div>

    <!-- CC -->
    <div class="col-md-6">
        <h3>Credit Cards</h3>
        {{for cc in ccs:}}
            <div class="panel panel-default">
            <div class="panel-body">
                <dl class="cc dl-horizontal">
                    <dt>Card No.</dt>
                    <dd>{{=cc.ccnum}}</dd>
                    <dt>Expiry</dt>
                    <dd>{{=cc.expires}}</dd>
                    <dt>CVC</dt>
                    <dd>{{=cc.pic}}</dd>
                    <dt>Address</dt>
                    <dd>{{=cc.address.street}}</dd>
                </dl>
            </div>
            </div>
        {{pass}}
        <h3>Add Credit Card</h3>
        {{=ccForm}}
    </div>

</div>

<hr>

<h2>Profile Data</h2>

{{pass}}


<!-- Standard web2py user view -->
<div id="web2py_user_form">
{{
if request.args(0)=='login' and not session.auth_2_factor_user:
    if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn')
    pass
    if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
    pass
pass
=form
}}
</div>

<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0) in ('change_password','reset_password'):}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>

