{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-8">
        {{if project.rewards:}}
            {{include "subview/reward_small.html"}}
        {{else:}}
            <h4>This Bootable has no rewards!</h4>
        {{pass}}
    </div>
    <div class="col-md-4">
        <h3>Add Reward</h3>
        {{if rewardform:}}
            {{=rewardform}}
        {{else:}}
            <h4>Rewards cannot be added now the Bootable is open</h4>
        {{pass}}
    </div>
</div>

<h3>Edit Bootable</h3>
{{if editform:}}
    {{=editform}}
{{else:}}
    <h4>Bootable cannot be edited now it is open</h4>
{{pass}}

