{{extend 'layout.html'}}

<header class="row project-header">
    <div class="col-xs-8 col-sm-10">
        <div class="progress">
            <div class="progress-bar{{if project.percent == 0:}} progress-bar-danger{{elif project.percent >= 100:}} progress-bar-success{{pass}}"
                role="progressbar"
                aria-valuenow="{{=project.total}}"
                aria-valuemin="0"
                aria-valuemax="{{=project.goal}}"
                style="width: {{=project.percent}}%;">
                £{{=project.total}} / £{{=project.goal}}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-2 text-right">
        {{if project.status.id == 2:}}
            {{if auth.user_id in [pledge['userid'] for pledge in project.pledges]:}}
                <button type="button" class="btn btn-info disabled">Pledged!</button>
            {{else:}}
                <a type="button" class="btn btn-primary" href="{{=URL('bootable', 'pledge', args=[project.id])}}">Give a Booting!</a>
            {{pass}}
        {{elif project.status.id == 3:}}
            <button type="button" class="btn btn-success disabled">{{=project.status.name}}!</button>
        {{elif project.status.id == 4:}}
            <button type="button" class="btn btn-danger disabled">{{=project.status.name}}!</button>
        {{pass}}
    </div>
</header>

<div class="row">
    <div class="col-sm-6">
        <h2>At a glance</h2>
        <p class="product-description">{{=project.ldesc}}</p>
        <br>
        <h4 class="product-goal">Funding Goal: <small>£{{=project.goal}}</small></h4>
        <h4 class="product-pledge-num">Number of Pledges: <small>{{=len(project.pledges)}}</small></h4>
        <h4 class="product-total">Funding Total: <small>£{{=project.total}}</small></h4>
    </div>
    <div class="col-sm-6 project-image">
        <img src="{{=URL('default', 'download',args=project.img)}}" class="img-responsive" align="right">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="project-story">
            <h3>Bootable Story</h3>
            <p>{{=project.story}}</p>
        </div>
        <div class="project-pledges">
            <h3>Pledges</h3>
            {{if project.pledges:}}
                {{include "subview/pledge_display.html"}}
            {{else:}}
                <p>No pledges so far!</p>
            {{pass}}
        </div>
    </div>
    <div class="col-md-6">
        <div class="project-rewards">
            <h3>Rewards</h3>
            {{if project.rewards:}}
                {{include "subview/reward_display.html"}}
            {{else:}}
                <p>This Bootable has no rewards! Oh Dear!</p>
            {{pass}}
        </div>
    </div>
</div>

<hr>

{{=project}}
<br><br>

<br><br>
{{=manager}}
