{{ """
Bootable View page


""" }}

{{extend 'layout.html'}}

<header class="row project-header">
    <div class="col-xs-8 col-sm-10">
        {{include "subview/project_progress.html"}}
    </div>
    <div class="col-xs-4 col-sm-2 text-right">
        {{include "subview/pledge_button.html"}}
    </div>
</header>

<div class="row">
    <div class="col-sm-6">
        <h2>At a glance</h2>
        <p class="product-description">{{=project.ldesc}}</p> <!-- TODO line breaks -->
        <br>
        <h4 class="product-goal">Funding Goal: <small>£{{=project.goal}}</small></h4>
        <h4 class="product-pledge-num">Number of Pledges: <small>{{=len(project.pledges)}}</small></h4>
        <h4 class="product-total">Funding Total: <small>£{{=project.total}}</small></h4>
    </div>
    <div class="col-sm-6 project-image">
        <img src="{{=URL('default', 'download',args=project.img)}}" class="img-responsive" align="right">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="project-story">
            <h3>Bootable Story</h3>
            <p>{{=project.story}}</p>
            <!-- TODO line breaks -->
        </div>
        <div class="project-pledges">
            <h3>Pledges</h3>
            {{if project.pledges:}}
                {{include "subview/pledge_display.html"}}
            {{else:}}
                <p>No pledges so far!</p>
            {{pass}}
        </div>
    </div>
    <div class="col-md-6">
        <div class="project-rewards">
            <h3>Rewards</h3>
            {{if project.rewards:}}
                {{for reward in project.rewards:}}
                    {{include "subview/rewards.html"}}
                {{pass}}
            {{else:}}
                <p>This Bootable has no rewards! Oh Dear!</p>
            {{pass}}
        </div>
    </div>
</div>

